<div id="<%= dom_id leaderboard %>">
    <table>
        <tr>
            <th>Golfer</th>
            <th>Position</th>
            <th>Round 1</th>
            <th>Round 2</th>
            <th>Round 3</th>
            <th>Round 4</th>
            <th>Total</th>
            <th>Earnings</th>
        </tr>
        <tr>
            <td><%= leaderboard.golfer.name %></td>
            <td><%= leaderboard.position %></td>
            <td><%= leaderboard.round_one %></td>
            <td><%= leaderboard.round_two %></td>
            <td><%= leaderboard.round_three %></td>
            <td><%= leaderboard.round_four %></td>
            <td><%= leaderboard.total %></td>
            <td><%= leaderboard.earnings %></td>
        </tr>
    </table>
</div>