<%= form_with(model: golfer) do |form| %>
  <% if golfer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(golfer.errors.count, "error") %> prohibited this golfer from being saved:</h2>

      <ul>
        <% golfer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :player_id, style: "display: block" %>
    <%= form.text_field :player_id %>
  </div>

  <div>
    <%= form.label :firstname, style: "display: block" %>
    <%= form.text_field :firstname %>
  </div>

  <div>
    <%= form.label :lastname, style: "display: block" %>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :tour, style: "display: block" %>
    <%= form.text_field :tour %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
