<div id="<%= dom_id golfer %>">
  <p>
    <strong>Player:</strong>
    <%= golfer.player_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= golfer.name %>
  </p>

  <p>
    <strong>Tour:</strong>
    <%= golfer.tour %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= golfer.status %>
  </p>

</div>
