<p style="color: green"><%= notice %></p>

<h1>Golfers</h1>
<div><%= button_to "logout", destroy_user_session_path, method: :delete %></div>
<div id="golfers">
  <table>
    <thead>
      <tr>
        <th>World Ranking</th>
        <th>Name</th>
        <th>Flight Group</th>
        <th>Edits</th>
      </tr>
    </thead>
    <% @golfers.each do |golfer| %>
    <tbody>
      <tr>
        <%= render golfer %>
        <td><%= link_to "Show this golfer", golfer %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<%= link_to "New golfer", new_golfer_path %>
