<p style="color: green"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>World Ranking</th>
      <th>Name</th>
      <th>Flight Group</td>
      <th>Edits</th>
    </tr>
  </thead>
  <tbody>
    <%= render @golfer %>
    <td>
      <div><%= link_to "Edit this golfer", edit_golfer_path(@golfer) %></div> 
      <div><%= button_to "Destroy", @golfer, method: :delete %></div>
    </td>
  </tbody>
</table>

<div>
  
</div>
<div>
  <%= link_to "Back to golfers", golfers_path %>
</div>
